<h1><%-variable%></h1>

<p>This is a great way to set up pathways; for example, you can have a
route that looks like '/events/:id'; that way, going to '/events/1' will
take you to the page for event number one and going to '/events/2' will
take you to the page for event number two. You can do lots of stuff with
these variables; the express website has some cool examples. You can
even use regexes!</p>

